[Unit]
Description=Speech-to-Text MQTT Publisher
After=network-online.target user@1000.service

[Service]
Type=simple
User=odroid
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=PULSE_SERVER=unix:/run/user/%U/pulse/native
Environment=STT_DIR=%h/repos/speech-to-text
Environment=STT_MODEL=%h/repos/speech-to-text/models/en-us
Environment="STT_DEVICE=loopback-inject.monitor"
ExecStart=/usr/bin/python3 %h/repos/bushglue/stt-service.py
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
